<div class="homepage-parent">
    <div class="homepage">
        <div class="name">
            <h1>Hello, I'm Jal</h1>
            <p>Graphic Designer,Front-end Developer,UI/UX Designer</p>
        </div>


        <div class="flex-even">
            <div class="down">
                <img [src]="'../../assets/images/drag-down.png'" alt="Your Image">
              </div>

              <div class="openfill">
                
              </div>

              <div class="open">
                <h1 class="towork">Open To Work</h1>
                <p class="based">based on bacolod City</p>
              </div>
        </div>
      
        <!-- <input type="text" oninput="drawCircle(event)"> -->

    </div>
    
</div>
