.homepage{

    min-height: 100vh;
    display: grid;

    
}


.name {
    font-family: 'EB Garamond';
    place-self: center;
    font-size: 4rem;
    margin-top: 15%;
    color: #ffffff;
    background-color: none;
}


.down {

     
        @apply animate-bounce h-20 w-20;
   
   
}

.flex-even {

 
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


.openfill{
    width: 80%;
    background-color: antiquewhite;
}

.open > .towork {
   
    @apply animate-pulse;
    font-size: 2rem;
    color: #ffffff;
    text-transform: uppercase;
}

.open p{
    
    color: #ffffff;
    opacity: 0;
    text-transform: uppercase;
}


