<div class="parent">

    <app-container></app-container>


    <div class="front-title">
        <h1>Front-end SwiftClick</h1>
    </div>

    <div class="front-desc">
        <p>SwiftClick is your premier destination for enhancing productivity with professional-grade computer accessories. From ergonomic keyboards to precision mice, we offer top-notch gear to optimize your workflow and elevate your computing experience.</p>
    </div>

    <div class="boxess">
        <div class="borders">
            <p>Figma</p>
        </div>
        <div class="borders">
            <p>Front-end</p>
        </div>
        <div class="borders">
            <p>Graphic Design</p>
        </div>
      
    </div>
    <div class="swift-clickimg">
        <img src="../../assets/images/Desktop - 1.png"/>
    </div>





</div>