

<nav>
    <div class ="navbar">
        <div class="logo">
            <h1>Work Portfolio.</h1>
        </div>
        <!-- <div class="navlinks">
            <li>
                <a href="#">Home</a>
            </li>
            <li> 
                <a href="#">Services</a>
            </li>
            <li> 
                <a href="#">Works</a>
            </li>
          
            
        </div> -->
        <div class="contact">
            <div class="fb">
                <a href="https://www.facebook.com/profile.php?id=100074484335271" target="_blank"> <img [src]="'../../assets/images/facebook.png'" alt="Your Image"> </a> 
            </div>

            <div class="fb">
               <a href="https://github.com/Poorsaken" target="_blank"> <img [src]="'../../assets/images/github.png'" alt="Your Image"> </a> 
            </div>

            <div class="fb">
              <a href="https://www.instagram.com/hakken.makki/" target="_blank"> <img [src]="'../../assets/images/instagram.png'" alt="Your Image"> </a>
            </div>

          

        </div>  
    </div>
</nav>
