

<nav>
    <div class="parent-header">
        <div class="logo">
            <h1>Jal Devecais</h1>
        </div>
        <div class="navlinks">
            <li>
                <a href="#">Home</a>
            </li>
            <li> 
                <a href="#">About</a>
            </li>
            <li> 
                <a href="#">Shops</a>
            </li>
          
            
        </div>
        <div class="contact">
            <div class="fb">
                <img [src]="'../../assets/images/facebook.png'" alt="Your Image">
            </div>

            <div class="fb">
                <img [src]="'../../assets/images/github.png'" alt="Your Image">
            </div>

            <div class="fb">
                <img [src]="'../../assets/images/instagram.png'" alt="Your Image">
            </div>

          

        </div>  
    </div>
</nav>
