import 

<nav>
    <div class="parent-header">
        <div class="logo">
            <h1>Jal Devecais</h1>
        </div>
        <div class="navlinks">
            <li>
                <a href="#">Home</a>
            </li>
            <li> 
                <a href="#">About</a>
            </li>
            <li> 
                <a href="#">Shops</a>
            </li>
          
            
        </div>
        <div class="contact">
            <img src={fb}/>
        </div>
    </div>
</nav>
