.parent-header{


    display: flex;
    align-items: center;
    justify-content: space-evenly;
    min-height: 9vh;
}

.navlinks {

    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 1.5rem;
}

li{

    margin: 10%;
    list-style: none;
}

a{

    text-decoration: none;
    color: #1d1d1f;

}

.fb img {

    width: 2rem;
    height: 2rem;
}

.contact{


    display: flex;
    align-items: center;
    justify-content: space-around;
}

.contact>div{

    margin: 10%;
}