<app-container></app-container>


<div class="parent">
    <div class="front-title">
        <h1>Graphic Design Works</h1>
    </div>
    
    <div class="front-desc">
        <p>This is my Graphic Design Works, made in Photoshop and Figma</p>
    </div>
    
    <div class="boxess">
        <div class="borders">
            <p>Figma</p>
        </div>
        <div class="borders">
            <p>Photoshop</p>
        </div>
        <div class="borders">
            <p>Graphic Design</p>
        </div>
      
    </div>


    <div class="gallery">

        <div class="images">
            <img src="../../assets/images/Kheils.png"/>
        </div>
        <div class="images">
            <img src="../../assets/images/oldspice.png"/>
        </div>
        <div class="images">
            <img src="../../assets/images/Blackshark.png"/>
        </div>
        
    </div>
    <div class="gallery">

        <div class="images">
            <img src="../../assets/images/M2.png"/>
        </div>
        <div class="images">
            <img src="../../assets/images/Attack Shark x3.png"/>
        </div>
        <div class="images">
            <img src="../../assets/images/Pizza.png"/>
        </div>
        
    </div>
</div>

