*{

    background-color: #111111;
    cursor: url('../assets/images/dot.png') 12 12, auto;
    user-select: none;
    
}

/* custom-scrollbar.css */
html::-webkit-scrollbar {
    width: 2vw; /* width of the scrollbar */
  }
  
  html::-webkit-scrollbar-thumb {
    background-color: #c02e2e; /* color of the thumb */
    border-radius: 6px; /* round corners */
  }
  
  html::-webkit-scrollbar-track {
    background-color: #d84747; /* color of the track */
  }
  
/* Include this style in your app.component.css */
.follower {
  position: fixed;
  width: 30px;
  height: 30px;
  z-index: 1;
  background: none;
  border: #f2f2f2 solid;
  border-radius: 50%;
}




/* Include this style in your app.component.css */

/* Styles for devices with a screen width up to 767 pixels (typically smartphones) */


