*{

    background-color: #111111;
    cursor: url('../assets/images/dot.png') 12 12, auto;
    user-select: none;
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

/* custom-scrollbar.css */

/* Include this style in your app.component.css */


.follower {


  position: fixed;
  width: 30px;
  height: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background: none;
  border: #f2f2f2 solid;
  border-radius: 50%;
  
}


/* Include this style in your app.component.css */

/* Styles for devices with a screen width up to 767 pixels (typically smartphones) */


