<div class="services-parent">


    <div class="animations-parent">
        <div class="gsap">
            <h1>GSAP.</h1>
        </div>
        <div class="gsap">
            <h1>WHAT SLEEP?.</h1>
        </div>
        <div class="gsap">
            <h1>FRONTEND ADDICT.</h1>
        </div>
    </div>


    <div class="animations-parent-two">
        <div class="gsap">
            <h1>DIRTY CODER.</h1>
        </div>
        <div class="gsap">
            <h1>RESPONSIVE.</h1>
        </div>
        <div class="gsap">
            <h1>LOVABLE.</h1>
        </div>
    </div>



        <div class="cards-parent">


          
           <div class="card-container">

                <div class="inner-container">
                    <div class="left">
                        <h1>Tech Stack</h1>

                        <p>
                            Welcome to my web developer portfolio! 🚀 I specialize in crafting dynamic and responsive web solutions with a versatile tech stack. Proficient in HTML, CSS, and JavaScript, I bring creativity and functionality to every project. On the backend, I leverage .NET for robust and scalable applications, while Angular and React power immersive and user-friendly interfaces on the frontend. With Git and GitHub, I ensure seamless collaboration and efficient project development. Committed to clean code and staying on the cutting edge of technology, I'm dedicated to delivering exceptional web experiences. Explore my portfolio to witness the seamless integration of design and functionality, showcasing the future of the web!</p>
                    </div>

                  
                        <div class="right">

                            <div class="boxes">

                               
                                    <div class="box1">
                                        <img src="../../assets/images/html logo.png"/>
                                    </div>
                                    <div class="box2"> 
                                        <img src="../../assets/images/css.png"/>
                                    </div>
                                    <div class="box3">
                                        <img src="../../assets/images/Javascript.png"/>
                                    </div>
                              
                          
                            <div class="boxnode">
                                <img src="../../assets/images/node-js.png"/>
                            </div>
                            <div class="box5">
                                <img src="../../assets/images/github.png"/>
                            </div>
                            <div class="box6">
                                <img src="../../assets/images/git-icon.png"/>
                            </div>
                            <div class="box7">
                                <img src="../../assets/images/Angular_full_color_logo.svg.png"/>
                            </div>
                            <div class="box8">
                                <img src="../../assets/images/reactss.png"/>
                             </div>
                            <div class="box9">
                                <img src="../../assets/images/NET-Framework-Logo.png"/>
                             </div>
                     
                       
                  </div>
                    </div>
                   
                </div>

           </div>


         
           


        </div>





   
   
</div>


