<div class="services-parent">


    <div class="animations-parent">
        <div class="gsap">
            <h1>GSAP.</h1>
        </div>
       
        <div class="gsap">
            <h1>FRONTEND ADDICT.</h1>
        </div>
    </div>


    <div class="animations-parent-two">
        <div class="gsap">
            <h1>FIGMA.</h1>
        </div>
        <div class="gsap">
            <h1>RESPONSIVE.</h1>
        </div>
        <div class="gsap">
            <h1>DESIGN</h1>
        </div>
    </div>



        <div class="cards-parent">


          
           <div class="card-container">

                <div class="inner-container">
                    <div class="left">
                        <h1>Tech Stack</h1>

                        <p>
                            My tech stack is centered around web development, with a strong focus on front-end technologies such as HTML, CSS, and JavaScript. I leverage the power of these languages to create responsive, visually appealing, and interactive user interfaces. Additionally, I utilize design tools like Photoshop and Figma to craft stunning visuals and streamline the design process, ensuring a seamless integration between design and development.</p>
                    </div>

                  
                        <div class="right">

                            <div class="boxes">

                               
                                    <div class="box1">
                                        <img src="../../assets/images/html logo.png"/>
                                    </div>
                                    <div class="box2"> 
                                        <img src="../../assets/images/css.png"/>
                                    </div>
                                    <div class="box3">
                                        <img src="../../assets/images/Javascript.png"/>
                                    </div>
                              
                          
                            <div class="boxnode">
                                <img src="../../assets/images/photoshop.png"/>
                            </div>
                            <div class="box5">
                                <img src="../../assets/images/figma.png"/>
                            </div>
                            <div class="box6">
                                <img src="../../assets/images/git-icon.png"/>
                            </div>
                            <div class="box7">
                                <img src="../../assets/images/Angular_full_color_logo.svg.png"/>
                            </div>
                            <div class="box8">
                                <img src="../../assets/images/reactss.png"/>
                             </div>
                            <div class="box9">
                                <img src="../../assets/images/NET-Framework-Logo.png"/>
                             </div>
                     
                       
                  </div>
                    </div>
                   
                </div>

           </div>


         
           


        </div>





   
   
</div>


