<div class="follower"></div>

<div id="smooth-wrapper">

  <div id="smooth-content">
    <div id="myid">
      <!-- Include this element in your app.component.html -->

<!-- 
    <app-container></app-container>
      <app-content></app-content>
      <app-services></app-services>
      <app-techstack></app-techstack> 

     -->
     <div class="parent">



      <div class="pink">
      1
      
      </div>
      
      
      <div class="yellow"> 2</div>
      
      
      
      
      
      <div class="center"> 3</div>
      
      </div>
      
      

      <router-outlet>

        <!-- <app-showcase></app-showcase>
         -->
      </router-outlet>

      

    </div>
  </div>
</div>
