
<a routerLink="/showcase" target="#"> <div class="web-design-parent">
            
    <div class="web-design-child">
      <div class="website-one">
        <div class="swift-title">
          <h1> Swift Click</h1>


              <div class="feats-parent">
              <div class="feats">
            <p>UI/UX Design</p>
          </div>
              <div class="feats">
            <p>Front-end</p>
          </div>
              
              </div>
        


        </div>



        
        <div class="project-image">
          <img src="../../assets/images/swiftclick.png"/>
        </div>

          </div>
    </div>
</div>

</a>



<div class="web-design-parent">
            
    <div class="web-design-child">
      <div class="website-one">
        <div class="swift-title">
          <h1> Swift Click</h1>


              <div class="feats-parent">
              <div class="feats">
            <p>UI/UX Design</p>
          </div>
              <div class="feats">
            <p>Front-end</p>
          </div>
              
              </div>
        


        </div>



        
        <div class="project-image">
          <img src="../../assets/images/swiftclick.png"/>
        </div>

          </div>
    </div>
</div>


<div class="web-design-parent">
            
    <div class="web-design-child">
      <div class="website-one">
        <div class="swift-title">
          <h1> Swift Click</h1>


              <div class="feats-parent">
              <div class="feats">
            <p>UI/UX Design</p>
          </div>
              <div class="feats">
            <p>Front-end</p>
          </div>
              
              </div>
        


        </div>



        
        <div class="project-image">
          <img src="../../assets/images/swiftclick.png"/>
        </div>

          </div>
    </div>
</div>


